<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="entityFramework"
        type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"/>
  </configSections>
  
  <connectionStrings>
    <!--   
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=CETIM;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Conn" connectionString="Data Source=10.11.1.97;Initial Catalog=Cetim;persist security info=True;user id=CetimUser;password=cetim123#;" providerName="System.Data.SqlClient" />
    -->
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=ArcolineDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
      <providers>
          <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      </providers>
  </entityFramework>
</configuration>