@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var active_in = 1;
}

<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        @foreach (var notice in ViewBag.Noticies)
        {
            if (active_in == 1)
            {
                <div class="carousel-item active">
                    <img src="~/Assets/Storage/NoticesIMG/@notice.Img" alt="Los Angeles" width="1100" height="500">
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <img src="~/Assets/Storage/NoticesIMG/@notice.Img" alt="Los Angeles" width="1100" height="500">
                </div>
            }
            active_in++;
        }
    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<hr class="hr-line" />

<div class="row no-m mb-3">
    <div class="col-sm-12 col-md-6">
        <p class="category-text red-line">RELAÇÕES</p>
        <img src="~/Assets/img/desc/desc7.png" class="img-fluid ">
        <p class="category-desc red-line">5 COISAS QUE TODA MULHER DEVERIA EVITAR NUM PRIMEIRO ENCONTRO</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p class="category-text red-line">POLÊMICAS</p>
        <img src="~/Assets/img/desc/desc6.png" class="img-fluid">
        <p class="category-desc red-line">CANTOR BRAZILEIRO CRITICA ANGOLANOS E FALA QUE SÃO LIXO</p>
    </div>
</div>

<div class="row no-m">
    <div class="col-sm-12 col-md-8">
        <div class="row mb-3">
            <div class="col-12">
                <p class="category-text white-line">ENTREVISTA</p>
                <img src="~/Assets/img/desc/desc4.png" class="img-fluid">
                <p class="category-desc red-line">QUAL É O SEGREDO DO SUCESSO NOS NEGÓCIOSA SÓS? JÉSSICA BARBOSA RESPONDE NUMA ENTREVISTA DE 25 MIN</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-12 col-lg-6">
                <p class="category-text reed-line">EVENTOS</p>
                <img src="~/Assets/img/desc/desc5.png" class="img-fluid">
                <p class="category-desc reed-desc">AGENCIA DE PROTOCOLOS COM OS MELHORES PREÇOS</p>
            </div>

            <div class="col-sm-12 col-lg-6">
                <p class="category-text roxo-line">MUSICAS</p>
                <img src="~/Assets/img/desc/desc6.png" class="img-fluid">
                <p class="category-desc roxo-desc">JH FALA SOBRE SEU ALBUM</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-12 col-lg-6">
                <p class="category-text orange-line">MODA</p>
                <img src="~/Assets/img/desc/desc7.png" class="img-fluid">
                <p class="category-desc orange-desc">TYLOR ONLINE, OFERECE VAGA PARA INICIANTES</p>
            </div>

            <div class="col-sm-12 col-lg-6">
                <p class="category-text green-line">MUSICAS</p>
                <img src="~/Assets/img/desc/desc1.png" class="img-fluid">
                <p class="category-desc green-desc">PROJECTOS JÁ PRONTOS PARA MONTAR A EMPRESA</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <p class="category-text">POLÊMICAS</p>
        <img src="~/Assets/img/desc/desc2.png" class="img-fluid">
        <p class="category-desc">CANTOR BRAZILEIRO CRITICA ANGOLANOS E FALA QUE SÃO LIXO</p>
    </div>
</div>