html {
    --container-width: 800px;
    --container-height: 320px;
}
.container-slide {
    position: relative;
    width: calc(var(--container-width));
    height: var(--container-height);
    padding-top: 15px;
    margin-left: 30px;
   
}

    .container-slide ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        white-space: nowrap;
        width: var(--container-width);
        overflow: hidden;
    }

    .container-slide li {
        display: inline-block;
        width: calc(var(--container-width) * 0.30);
        height: var(--container-height);
        margin: 0 0 0 calc(var(--container-width) * 0.03);
        box-sizing: border-box;
        position: relative;
    }

    .container-slide li.anime {
        opacity: 1;
        transition: all 200ms ease-in 0ms;
    }
 
    .container-slide .controls #back, .container-slide .controls #forward {
        position: absolute;
        top: 35%;
        z-index: 1000;
        padding: 5px;
        cursor: pointer;
        opacity: 1;
    }

        /*.container-slide .controls #back:hover, .container-slide .controls #forward:hover {
            background-color: #ff2323;
            opacity: 1;
        }

        .container-slide .controls #back:active, .container-slide .controls #forward:active {
            background-color: #002323;
            opacity: 1;
        }*/

.controls #back {
    left: -50px;
}

.controls #forward {
    right: -50px;
}
