
#page-container.sidebar-dark #sidebar {
    background-color: #d5dce3;
    color: #ffffff;
}

.sidebar-dark #sidebar .nav-main-link {
    color: #ff0044 !important;
}

.sidebar-dark #sidebar .nav-main-link > .nav-main-link-icon {
    color: #ff0044 !important;
}

.bg-default {
    background-color: #ff0044 !important;
    color: #fff !important;
}

.btn-default {
    background-color: #ff0044 !important;
    color: #fff !important;
    border-radius: 0;
}

.content.content-full {
    border-top: 2px solid #ff0044;
}

a.link-fx {
    color: #f04;
}