<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title ::. Arcoline</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <link href="~/Assets/css/oneui.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="~/Assets/css/application.css" rel="stylesheet" />
</head>

<body>

    <div class="">
        @RenderBody()
    </div>

    <script src="~/Assets/js/oneui.core.min.js"></script>
    <script src="~/Assets/js/oneui.app.min.js"></script>

    <script src="~/Assets/js/notify/UI.v4.min.js"></script>
    <script src="~/Assets/js/jquery.simpleTableSort.js"></script>
    <script src="~/Assets/js/Application.js"></script>

</body>
</html>

