<div class="content-side content-side-full">
    <ul class="nav-main">
        <li class="nav-main-item">
            <a class="nav-main-link" href="@Url.Action("Index","Dashboard")">
                <i class="nav-main-link-icon si si-home"></i>
                <span class="nav-main-link-name">Inicio</span>
            </a>
        </li>

        <li class="nav-main-item">
            <a class="nav-main-link" href="@Url.Action("Index","Category")">
                <i class="nav-main-link-icon si si-layers"></i>
                <span class="nav-main-link-name">Categorias</span>
            </a>
        </li>

        <li class="nav-main-item">
            <a class="nav-main-link" href="@Url.Action("Index","Notice")">
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Noticias</span>
            </a>
        </li>



        <li class="divider"></li>

        <li class="nav-main-item">
            <a class="nav-main-link" href="@Url.Action("LogOff", "Account")">
                <i class="nav-main-link-icon si si-logout"></i>
                <span class="nav-main-link-name">Sair</span>
            </a>
        </li>

    </ul>
</div>

